@import "tailwindcss";

@plugin "@tailwindcss/typography";

:root {
  --background: var(--background-color);
  --foreground: var(--text-primary-color);
}

@theme inline {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-accent: var(--accent-color);
  --color-site-bg: var(--background-color);
  --color-text-primary: var(--text-primary-color);
  --color-text-secondary: var(--text-secondary-color);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background-color);
  color: var(--text-primary-color);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
