@import "tailwindcss";

@plugin "@tailwindcss/typography";

:root {
  --background: var(--background-color, #ffffff);
  --foreground: var(--text-color, #171717);
}

@theme inline {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-accent: var(--accent-color);
  --color-site-bg: var(--background-color);
  --color-site-text: var(--text-color);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
